@charset "utf-8";

h1 {
  font-family: 'Caveat', cursive
}

body {
  background-color: rgb(255, 255, 209);
}

header {
  width: 100%;
  height: 320px;
  background: url(../img/KV_ESP.jpg);
  background-size: cover;
  background-position: center;
}

.group1 {
  padding: 10px;
  display: flex;
  justify-content: left;
}

h1 {
  font-size: 18px;
  padding: 0.5em;
  color: #494949;
  background: #f4f6ff;
  border-left: solid 5px #58b1ff;
}

h2 {
  text-align: center; 
  margin-top: 10px;
  font-size: 60px;
} 

.container1 {
  width: 1000px;
  margin: 0px auto;
  display: flex;
}

.group2 {
  width: 70%;
  text-align: center;
}

.group2 h3 {
  text-align: center;
  border-bottom: 1px solid ;
}

.group2 img {
  width: 50%;
}

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.group3 {
  width: 30%;
}

aside {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;
  background: rgb(253, 211, 126);
  border: solid 3px black;
  border-radius: 10px;
}

.group3 h4{
  font-size: 16px;
  text-align: center;
}

.group3 ul {
  list-style: none;
  padding-left: 0px;
}

.group3 li {
  border-bottom: 4px dotted black;
}

ul li, ol li {
  color: #404040;
  border-left: solid 6px #1fa67a;
  border-bottom: solid 2px #dadada;
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
  font-weight: bold;
}

.group3 li::before {
  content: '●';
  color: white;
  margin-right: 8px;
}

main p {
  line-height: 50%;
}

.container2 {
  display: flex;
}

.group2-1 {
  width: 50%;
}

.group2-1 img {
  width: 75%;
}

.text1 ::before {
  content: '●';
  color: black;
  margin-right: 8px;
}

.box2{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: white;
  border-left: double 7px #858585;
  border-right: double 7px #858585;
}
.box2 p {
  margin: 0; 
  padding: 0;
}

.box3 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #FFC107;
}
.box3 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.box3 p {
  margin: 0; 
  padding: 0;
}